body {
    margin: 0;
    font-family: Arial, sans-serif;
    height:1000px;
  }

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
  }

  #navbar a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
  }

  #navbar a:hover {
    color: #ffd700; 
  }

  #section-01,
  #section-02,
  #section-03 {
    padding: 80px 0;
    text-align: center;
  }

  #section-01 {
    background-color: #f0f0f0;
  }

  #section-02 {
    background-color: #e6e6e6;
  }

  #section-03 {
    background-color: #f0f0f0;
  }